<div class="container">
  <div class="back-icon">
    <a routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      <p>Voltar</p>
    </a>
  </div>

  <fieldset class="form-fieldset">
    <legend>Filtros</legend>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <div class="form-field">
          <label>Placa</label>
          <input type="text" [(ngModel)]="filter.licensePlate" class="form-input" id="name" name="name" #name="ngModel">
        </div>

        <div class="form-field">
          <label>Ponto de interesse</label>
          <input type="text" [(ngModel)]="filter.poiName" class="form-input" id="name" name="name" #name="ngModel">
        </div>

        <div class="form-field">
          <label>Data inicial</label>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="startDate" (dateChange)="updateInitDate('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-field">
          <label>Data final</label>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="endDate" (dateChange)="updateEndDate('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>

      </div>
      <div class="button-container">
        <button mat-button type="submit">Pesquisar</button>
      </div>
    </form>
  </fieldset>

  <div class="table-result">
    <mat-tab-group>
      <mat-tab label="Resumido">
        <mat-table [dataSource]="poiTrackingsSummedUp" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="licensePlate">
            <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.licensePlate}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="poiName">
            <mat-header-cell *matHeaderCellDef> Ponto de Interesse </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.poiName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Tempo Total </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.formatedTime}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Detalhado">
        <mat-table [dataSource]="poiTrackings" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="licensePlate">
            <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.licensePlate}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="poiName">
            <mat-header-cell *matHeaderCellDef> Ponto de Interesse </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.poiName}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="firstDateTime">
            <mat-header-cell *matHeaderCellDef> Primeira vez visto em </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.firstDate | date: 'dd/MM/yyyy HH:mm:ss' }} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="lastDateTime">
            <mat-header-cell *matHeaderCellDef> Última vez visto em </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.lastDate  | date: 'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Tempo total </mat-header-cell>
            <mat-cell *matCellDef="let track"> {{track.formatedTime}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsDetailed"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsDetailed;"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>
