$primary: #11998e;
$secondary: #11998e;
$gray: #B3B3B3;
$white: #fff;

.container {
  margin-top: 100px;
  margin-bottom: 80px;
  width: 1000px;
  position: relative;
}

.table-result {
  margin-top: 40px;
}

.form-fieldset {
  position: relative;
  margin-top: 20px;
  border: 2px solid $gray;
  padding: 3px;
  border-radius: 8px;
  height: 130px;
}

.form-fieldset legend {
  margin-left: 15px;
  background: $primary;
  padding: 6px;
  border-radius: 8px;
}


.button-container {
  margin-bottom: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.button-container button {
  color: $white;
  background-color: $primary;
}

.form-group {
  display: flex;
}

.form-field {
  margin: 15px;
}

.form-input {
  border-radius: 8px;
  height: 30px;
}

.form-field mat-form-field {
  margin-top: -20px;
  width: 160px;
}


input,
label {
  display: block;
}


// OVERRIDE TABLE CSS
mat-table {
  width: 100%;
}

//OVERRIDE TAB CSS
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: $white;
}

.mat-ink-bar {
  background-color: $primary !important;
}

//OVERRIDE DATEPICKER CSS
.mat-input-element {
  caret-color: $white;
}
