<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>pin_drop</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Ponto de Interesse
        </h3>
        <p>Lore Ipsum</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>location_searching</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Histórico de Posições
        </h3>
        <p>Lore Ipsum</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>track_changes</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Rastrear POI/Posição
        </h3>
        <p>Calcula o tempo em cada ponto de interesse</p>
        <div class="button-container">
          <button mat-button routerLink="/track">Rastrear</button>
        </div>
      </div>
    </div>
  </div>
</div>
