<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>pin_drop</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Points of Interest
        </h3>
        <p>Lore Ipsum</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>location_searching</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Positions History
        </h3>
        <p>Lore Ipsum</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <mat-icon>track_changes</mat-icon>
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h3>
          Track POI
        </h3>
        <p>Calculate the amount of time at each point of interest</p>
        <div class="button-container">
          <button mat-button routerLink="/track">Track</button>
        </div>
      </div>
    </div>
  </div>
</div>
