<div class="container">
<app-back-button></app-back-button>

  <div class="table-result">
    <mat-table [dataSource]="points" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let point"> {{point.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="radius">
        <mat-header-cell *matHeaderCellDef> Raio </mat-header-cell>
        <mat-cell *matCellDef="let point"> {{point.radius}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
        <mat-cell *matCellDef="let point"> {{point.latitude}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
        <mat-cell *matCellDef="let point"> {{point.longitude}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
