$primary: #11998e;
$secondary: #11998e;
$gray: #B3B3B3;
$white: #fff;

.container {
  margin-top: 100px;
  margin-bottom: 80px;
  width: 1000px;
  position: relative;
}

.table-result {
  margin-top: 40px;
}
