<div class="container">
  <app-back-button></app-back-button>

  <div class="table-result">
    <mat-table [dataSource]="history" class="mat-elevation-z8">

      <ng-container matColumnDef="licensePlate">
        <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.licensePlate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data/Hora </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.date  | date: 'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="velocity">
        <mat-header-cell *matHeaderCellDef> Velocidade </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.velocity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.latitude}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.longitude}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ignition">
        <mat-header-cell *matHeaderCellDef> Ignição </mat-header-cell>
        <mat-cell *matCellDef="let hist"> {{hist.ignition | yesNo}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
